@charset "UTF-8";
/* Утилиты */
.list {
  margin: 0px;
  padding: 0px;
}

/* Обнуляем маржины для элементов макета' */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Убираем точки в списке */
ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

body {
  margin: 0px;
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* Задаем цвет лого */
.logo-top {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-top .logo-header {
  color: #2e2f42;
}

.logo-bottom {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-bottom .logo-footer {
  color: #f4f4fd;
}

/* Стилизуем меню навигации */
.border-header {
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.all-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-button {
  border: none;
  background-color: transparent;
  line-height: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .all-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
  .site-nav {
    display: none;
  }
}
.site-nav .link {
  color: #2e2f42;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #434455;
}

.site-nav .link.current,
.site-nav .link:active {
  color: #4d5ae5;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}

/* Стилизуем в шапке контакты */
.contacts-nav .contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .contacts:hover,
.contacts-nav .contacts:focus {
  color: #4d5ae5;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu-button {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Стилизуем героя */
.overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.5)), to(rgba(46, 47, 66, 0.5))), url("../images1/peopleoffice.jpg");
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.5), rgba(46, 47, 66, 0.5)), url("../images1/peopleoffice.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
  background-color: #2e2f42;
}

.hero-content {
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  min-width: 170px;
  min-height: 51px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
  background-color: #404bbf;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Стилизуем заголовки секций */
.section-title {
  margin-top: 0px;
  color: #2e2f42;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизуем заголовки контента внутри секций Future, Team, Portfolio */
.content-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2e2f42;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-section {
  padding-bottom: 0px;
}

.feature-block {
  border-radius: 4px;
  text-align: center;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.section-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

/* Section What are we doing */
.services {
  margin-top: 72px;
  padding: 0;
}

.services .items:not(:last-child) {
  padding-right: 24px;
}

/* Section Team */
.team {
  margin: 0;
  padding: 0;
  margin-top: 72px;
}

.team-elements {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-background {
  background-color: #f4f4fd;
}

.teamcard-content {
  text-align: center;
  padding: 32px 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  gap: 24px;
}

.social-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 12px 12px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-blok:not(:last-child) {
  margin-right: 24px;
}

/* Section Customers */
.customer-block {
  margin: 0;
  padding: 0;
  margin-top: 72px;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-block .items {
  width: 168px;
  height: 88px;
}

.customer-block-icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customer {
  fill: currentColor;
}

.customer-block-icon:hover,
.customer-block-icon:focus {
  color: #4d5ae5;
  border-color: #4d5ae5;
}

/* Стилизуем футер */
.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.all-footer {
  margin: 0;
  padding: 0;
}

.footer-block {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-text,
.form-text {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.elements-size {
  width: 40px;
  height: 40px;
}

.social-blok-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-blok:not(:last-child) {
  margin-right: 24px;
}

.social-blok-footer:hover,
.social-blok-footer:focus {
  background-color: #31d0aa;
  outline-color: transparent;
}

.footer-form {
  position: relative;
}

.footer-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 264px;
  height: 40px;
  margin-right: 24px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  background-color: #2e2f42;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  height: 40px;
  padding: 8px 24px;
  gap: 16px;
  border: none;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

/* Section filter  */
.filter-button {
  padding: 8px 16px;
  color: #4d5ae5;
  background-color: #e7e9fc;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #4d5ae5;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.filter .items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter .items:not(:last-child) {
  padding-right: 24px;
}

/* Portfolio */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 24px;
  text-decoration: none;
}

.portfolio-elements {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 48px) / 3);
      flex-basis: calc((100% - 48px) / 3);
  border: 0.5px solid #f4f4fd;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-elements:hover,
.portfolio-elements:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px;
  padding-left: 16px;
  text-align: left;
}

.section-text {
  margin-top: 8px;
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.text-cards-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .text-cards-overlay,
.portfolio-link:focus .text-cards-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* Оформляем backdrop и модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

/* Оформляем форму модального окна */
textarea {
  resize: none;
}

.form-describe {
  position: absolute;
  top: 72px;
  left: 24px;
  right: 24px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.modal-form {
  position: absolute;
  top: 112px;
}

.form-field {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 8px;
}

.form-field label,
.form-field-text label {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  margin: 0;
  padding-left: 34px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: transparent;
  outline: 1px solid #4d5ae5;
}

.icon-input {
  position: absolute;
  top: 45%;
  left: 5%;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .icon-input,
.form-input:focus + .icon-input {
  color: #4d5ae5;
}

.form-field-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.form-field-text .comment-style {
  padding-top: 8px;
  padding-left: 16px;
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  fill: transparent;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.check-input:checked + .icon-checkbox {
  background: #4d5ae5;
  border: 1.25px solid #4d5ae5;
  border-radius: 2px;
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 51px;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */