/* Section What are we doing */

@media screen and (max-width: $pre-desktop) {
  .section-services {
    display: none;
  }
}

.services {
  display: flex;
  margin-top: 72px;
  padding: 0;
}

.services .items:not(:last-child) {
  padding-right: 24px;
}
