/* Section Customers */

/* Mobile version section Team */
@media screen and (max-width: $pre-tablet) {
.customer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 72px;
  gap: 16px;

  // flex-basis: calc((100% - 54px) / 2);
}
}

.customer-block .items {
  width: 190px;
  height: 88px;
}

.customer-block-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $first-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  color: $border-color;

  transition: color $duration $timing-function,
    border-color $duration $timing-function;
}

// .customer-block-icon:not(:last-child) {
//   margin-right: 24px;
// }

.icon-customer {
  fill: currentColor;
}

.customer-block-icon:hover,
.customer-block-icon:focus {
  color: $accent-bg-color-button-text-color;
  border-color: $accent-bg-color-button-text-color;
}
