/* Стилизуем футер */

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $title-text-color-second-bg-color;
}

.all-footer {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}
.footer-block {
  width: 264px;
  padding: 0;
  margin: 0;
}
.footer-text {
  display: inline-block;
  width: 264px;
  margin-top: 16px;

  color: $button-background-color;
  font-size: 16px;
  line-height: 1.5;
}
.social-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-media {
  display: block;
  margin-left: 120px;
}
.social-text,
.form-text {
  display: inline-block;
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $first-color;
}
.social-link-footer {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.elements-size {
  width: 40px;
  height: 40px;
}
.social-blok-footer {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $duration $timing-function,
    outline-color $duration $timing-function;
}

.social-blok:not(:last-child) {
  margin-right: 24px;
}

.social-blok-footer:hover,
.social-blok-footer:focus {
  background-color: $hover-background-color;
  outline-color: transparent;
}

.footer-form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
  width: 456px;
  height: 80px;
}

.footer-input-text {
  position: absolute;
  left: 0%;
  bottom: 0%;

  display: flex;
  width: 264px;
  height: 40px;
  margin-right: 24px;

  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;

  background-color: #2e2f42;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-subscribe {
  position: absolute;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 168px;
  height: 40px;
  padding: 8px 24px;
  gap: 16px;
  border: none;

  color: $first-color;
  background: $accent-bg-color-button-text-color;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}