/* Portfolio */

.portfolio {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  text-decoration: none;
}

.portfolio-elements {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 48px;
  }

  border: 0.5px solid $fourth-background-color;

  transition: box-shadow $duration $timing-function;
}

.portfolio-elements:hover,
.portfolio-elements:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-content {
  display: block;
  text-align: left;
}

.card-content .content-title {
  text-align: left;
  margin-top: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}


