/* Задаем цвет лого */
.logo-top {
  color: $accent-bg-color-button-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-top .logo-header {
  color: $title-text-color-second-bg-color;
}
.logo-bottom {
  color: $accent-bg-color-button-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-bottom .logo-footer {
  color: $fourth-background-color;
}
