// Common rules for logo

.logo-top {
  // display: flex;
  // justify-content: flex-start;
  color: $accent-bg-color-button-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-top .logo-header {
  color: $title-text-color-second-bg-color;
}
.logo-bottom {
  color: $accent-bg-color-button-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-bottom .logo-footer {
  color: $fourth-background-color;
}

@media screen and (min-width: $tablet) {
  .logo-top {
    display: flex;
    align-items: center;
  }

  .logo-bottom {
    display: flex;
    align-items: center;
  }
}
