/* Стилизуем меню навигации */
.border-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.all-header {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $pre-tablet) {
  .all-header {
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts-nav {
    display: none;
  }

  .site-nav {
    display: none;
  }

  .menu-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  min-width: 32px;
  min-height: 22px;

  color: $first-color;
}
}

