/* Стилизуем героя */
.overlay {
  @media screen and (min-width: $desktop) {
  max-width: 1440px;
  height: 603px;
  margin-left: auto;
  margin-right: auto;
  }
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images1/peopleoffice.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images1/peopleoffice@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero {
  text-align: center;
  background-color: $title-text-color-second-bg-color;
}
.hero-content {
  padding-top: 112px;
  padding-bottom: 109px;
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 192px;
    padding-bottom: 192px;
  }
}
.hero-title {
  display: block;
  text-align: center;

  margin-left: 55px;
  margin-right: 56px;
  margin-bottom: 80px;

  color: $first-color;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.111;
  text-transform: capitalize;

  @media screen and (min-width: $tablet) {
    width: 492px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
    @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
      margin-bottom: 40px;
    }
    font-size: 56px;
    line-height: 1.07;
  }
}
.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  min-width: 170px;
  min-height: 51px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $first-color;
  background-color: $accent-bg-color-button-text-color;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  transition: box-shadow $duration $timing-function,
    background-color $duration $timing-function;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-button:active {
  background-color: $button-bg-active-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
