/* Стилизуем заголовки секций */

.section-title {
  margin-top: 0px;

  color: $title-text-color-second-bg-color;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизуем заголовки контента внутри секций Future, Team, Portfolio */

.content-title {
  margin-top: 0px;
  margin-bottom: 0px;

  color: $title-text-color-second-bg-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}