

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-section {
  padding-bottom: 0px;
}

.feature-block {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin: 0;
  // margin-bottom: 8px;
  // width: 264px;
  // height: 112px;

  border-radius: 4px;
  text-align: center;
  background-color: $fourth-background-color;
  border-radius: 4px;
}

// .features {
//   display: flex;
//   min-width: 264px;
//   margin: 0;
//   padding: 0;
// }

// .features .items {
//   flex-basis: 264px;
// }

// .features .items:not(:last-child) {
//   margin-right: 24px;
// }

.section-text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: $pre-desktop) {
  .icon {
    display: none;
  }
}
/* Desktop version Future/

// .section {
//   padding-top: 120px;
//   padding-bottom: 120px;
// }

// .features-section {
//   padding-bottom: 0px;
// }

// .feature-block {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
//   margin-bottom: 8px;
//   width: 264px;
//   height: 112px;
//   border-radius: 4px;
//   text-align: center;
//   background-color: var(--fourth-background-color);
//   border-radius: 4px;
// }

// .features {
//   display: flex;
//   min-width: 264px;
//   margin: 0;
//   padding: 0;
// }

// .features .items {
//   flex-basis: 264px;
// }

// .features .items:not(:last-child) {
//   margin-right: 24px;
// }

// .section-text {
//   color: var(--primary-text-color);
//   font-size: 16px;
//   line-height: 1.5;
// }